#root {
	background-color: rgb(246, 246, 246);
}

#root * {
	letter-spacing: -0.05em;
}

#wrap {
	width: min(600px, 100%);
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;
	box-shadow: rgba(100, 100, 100, 0.2) 0 0 29px 0;
	background-color: #fff;
}