:root {
  font-family: 'Pretendard';
}

* {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
  line-height: 1;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Pretendard';
  white-space: nowrap;
}

input {
  box-sizing: border-box;
  outline: none;
  border: none;
}

label {
  font-size: 0;
  display: block;
  box-sizing: border-box;
}

textarea {
  border: none;
  outline: none;
  box-sizing: border-box;
  resize: vertical; /* 세로로만 크기 조절 가능 */
}